<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Household Store</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" style="background-color: black; visibility: @(collapseNavMenu ? "visible" : "hidden")">
            <span class="material-icons">menu</span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons" aria-hidden="true">home</span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/customers">
                <span class="material-icons" aria-hidden="true">people</span> Customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/employees">
                <span class="material-icons" aria-hidden="true">assignment_ind</span> Employee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/products">
                <span class="material-icons" aria-hidden="true">inventory</span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/orders">
                <span class="material-icons" aria-hidden="true">shopping_cart</span> Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/supplies">
                <span class="material-icons" aria-hidden="true">local_shipping</span> Supplies
            </NavLink>
        </div>
        <hr style="border-color: white;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/metadata">
                <span class="material-icons" aria-hidden="true">update</span> Metadata Load History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/suppliesfact">
                <span class="material-icons" aria-hidden="true">forklift</span> Supply Fact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/orderfact">
                <span class="material-icons" aria-hidden="true">shopping_cart_checkout</span> Order Fact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bisanal">
                <span class="material-icons" aria-hidden="true">bar_chart</span> Business Analytics
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        collapseNavMenu = true; // Ensure it's initialized to true
    }
}
