@page "/bisanal"

<h3>Reports</h3>

<iframe title="lab5store" width="1240" height="641.25" src="https://app.powerbi.com/reportEmbed?reportId=dabd3c54-d18d-4423-8109-4104d25e5826&autoAuth=true&ctid=7631cd62-5187-4e15-8b8e-ef653e366e7a" frameborder="0" allowFullScreen="true"></iframe>

@code {

}
