<div class="modal fade" data-backdrop="dynamic" data-keyboard="false" id="productStoresModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Stores by Cities</h5>
            </div>
            <div class="modal-body">
                @if (Product != null)
                {
                    <div>
                        @foreach (var cityGroup in GetStoresByCities())
                        {
                            <h6>@cityGroup.Key</h6>
                            <ul>
                                @foreach (var store in cityGroup)
                                {
                                    <li>@store.StoreName - @store.Address</li>
                                }
                            </ul>
                        }
                    </div>
                }
                else
                {
                    <p>No product selected.</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductDTO? Product { get; set; }

    [Parameter]
    public IEnumerable<StoreDTO> Stores { get; set; }

    private IEnumerable<IGrouping<string, StoreDTO>> GetStoresByCities()
    {
        if (Product != null)
        {
            var storeIds = Product.AvailableProducts.Select(ap => ap.StoreId).Distinct();
            var stores = Stores.Where(s => storeIds.Contains(s.StoreId));
            return stores.GroupBy(s => s.CityName ?? "Unknown");
        }
        return Enumerable.Empty<IGrouping<string, StoreDTO>>();
    }
}
